<post-big>
  <div class="shadow post-big mt-2">
    <a href="#" class="container-img"
      ><img src="../static/Assets/img/Headline_Img.png" alt=""
    /></a>
    <div
      class="news-cat cat-sports d-flex justify-content-center align-items-center mx-2 my-2"
    >
      <p class="px-1">Sports</p>
    </div>
    <div
      class="container-post-big d-flex flex-row justify-content-evenly align-items-center"
    >
      <div class="text-area-post-biog">
        <a href="" class="post-text-big pe-2 ps-3">Title</a>
        <p></p>
      </div>
      <div class="buttonandanalytics">
        <div
          class="post-analytics-big d-flex flex-row justify-content-evenly align-items-center"
        >
          <div
            class="views d-flex flex-row justify-content-center align-items-center mb-2"
          >
            <span class="material-symbols-outlined"> visibility </span>
            <small>1.3K</small>
          </div>
          <div
            class="share d-flex flex-row justify-content-center align-items-center mb-2"
          >
            <span class="material-symbols-outlined"> share </span>
            <small>1.3K</small>
          </div>
          <div
            class="likes d-flex flex-row justify-content-center align-items-center mb-2"
          >
            <span class="material-symbols-outlined"> favorite </span>
            <small>1.3K</small>
          </div>
        </div>
        <div
          class="bookmark-btn-big d-flex justify-content-center align-items-center pb-3"
        >
          <a
            href="#"
            class="bookmarkbtn btn d-flex justify-content-center"
            role="button"
            data-bs-toggle="button"
            ><span class="material-symbols-outlined me-2">bookmark</span>
            Bookmark this post</a
          >
        </div>
      </div>
    </div>
  </div>
</post-big>

<post-mid>
  <div class="shadow post-mid d-flex flex-row justify-content-evenly mb-3 mt-2">
    <div class="post-content">
      <a href="#" class="container-img"
        ><img src="../static/Assets/img/mark-cuban.jpg" alt=""
      /></a>

      <a href="#" class="post-text px-3 pt-3"
        >Mark Cuban: Mavericks should've gotten 'a better deal' for Luka
        Doncic</a
      >
    </div>
    <div class="post-analytics-mid">
      <div
        class="views d-flex flex-column justify-content-center align-items-center mb-2"
      >
        <span class="material-symbols-outlined"> visibility </span>
        <small>1.3K</small>
      </div>
      <div
        class="share d-flex flex-column justify-content-center align-items-center mb-2"
      >
        <span class="material-symbols-outlined"> share </span>
        <small>1.3K</small>
      </div>
      <div
        class="likes d-flex flex-column justify-content-center align-items-center mb-2"
      >
        <span class="material-symbols-outlined"> favorite </span>
        <small>1.3K</small>
      </div>
      <div
        class="bookmark d-flex flex-column justify-content-center align-items-center mb-2"
      >
        <label class="bookmark-icon">
          <input type="checkbox" />
          <span class="material-symbols-outlined">bookmark</span>
        </label>
        <small>Bookmark</small>
      </div>
    </div>
  </div>
</post-mid>
